@import "../../common/colors.scss";

.movie-list, .series-list{
    margin : 20px 0px;
    h2{
        color : $font-secondary;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

.movie-container, .series-container{
    display: grid;
    // Create as many columns as can fit in the container with a minimum size of 220 pixels and a maximum size of 1 fraction of the available space
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap:15px;
}